.sign-up-button {
  /*reset*/
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

.blue-button {
  background: #5b74a8;
  border: 1px solid #999;
  border-color: #2f477a #29447e #1a356e;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);

  color: #fff;
  font-size: 12px;
  font-weight: bold;

  display: inline-block;
  cursor: pointer;
  padding: 2px 6px 4px;;
  white-space: nowrap;

	line-height: 13px;
}

.post-form-submit {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  line-height: 22px;
  font-size: 12px;

  cursor: pointer;

  border: 1px solid;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-sizing: content-box;
  font-family: helvetica, arial, sans-serif;
  /*font-weight: bold;*/
  padding: 0 16px;
  background-color: #4e69a2;
  border-color: #435a8b #3c5488 #334c83;

  margin-top: 8px;
}
