.timeline-header {
  position: relative;
  float: left;
	margin: 0 auto;
  height: 357px;
  /*red*/
  background-color: #FF5454;
  width: 850px;
  border: 1px solid;
  border-color: #d3d6db;
  border-top: 0px;
  border-radius: 0 0 3px 3px;
  margin-bottom: 20px;
}


.timeline-header-name {
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  color: #fff;
  bottom: 12px;
  left: 201px;
  position: absolute;
}

.timeline-header-buttons-list {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 12px;
	bottom: 43px;
  width: 360px;
}

.timeline-header-buttons-list > li {
  // float: left;
  float: right;
}

.timeline-header-buttons-list > li > a {
	font-size: 12px;
	line-height: 26px;
	color: #4e5665;
	text-shadow: 0 1px 0 #fff;
  background-color: #f6f7f8;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

.timeline-header-buttons-list > li > a.confirmed > img.i1 {
	display: inline;
	content: url(image_path('facebook_checkmark.png'));
	height: 12px;
	width: 12px;
	background-size: auto;
	vertical-align: middle;
	margin-right: 4px;
}

.timeline-header-buttons-list > li > a.add-friend > img.add {
	display: inline;
	content: url(image_path('fakebook_add_friend.png'));
	height: 12px;
	width: 12px;
	background-size: auto;
	vertical-align: middle;
	padding-bottom: 2.5px;
	margin-right: 4px;
	margin-left: 0px;
}
.timeline-header-buttons-list > li > a > img {
	margin-left: 4px;
}

.tri-drop {
	display: inline;
	content: url(image_path('facebook_drop_triangle.png'));
	width: 9px;
	height: 8px;
	background-position: -1px -1px;
	background-size: auto;
}

.timeline-header-tabs-bar {
  height: 45px;
  width: 850px;
  background-color: #fff;
  bottom: 0;
}


.timeline-header-tabs-container {
  position: relative;
}


.timeline-header-tabs {
  border-color: inherit;

  padding-left: 200px;
  list-style: none;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #3b5998;
  font-family: helvetica, arial, sans-serif;
}

.timeline-header-tabs > li{
  float: left;
}

.timeline-header-tabs > li:last-child > a {
  border-right: 1px solid #D8D8DB;
}

.timeline-header-tabs > li > a {
  padding: 15px;
  border-left: 1px solid #D8D8DB;
  border-top: 0px;
}

.timeline-header-tabs > li > a:hover {
  cursor: pointer;
}
// ------------Profile Pic ------------------
.timeline-header-profile-picture {
  display: block;
  width: 160px;
  height: auto;
  border: 4px solid #fff;
  border-radius: 2px;
  margin: 0;
  /*purple*/
  background-color: #dfe3ee;
}

.timeline-profile-pic-container {
  box-shadow: none;
  position: absolute;
  background: rgba(0, 0, 0, .3);
  border-radius: 3px;
  left: 15px;
  margin-top: 0;
  top: -143px;
  padding: 1px;
}

a.edit-profile-pic-button {
  width: 160px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

i.camera-icon {
  position: absolute;
  z-index: 3;

  background-image: url(image_path('fakebook_camera.png'));
  width: 26px;
  height: 21px;
  background-position: -26px -19px;
  bottom: 15px;
  left: 5px;
  opacity: 1;
  transform: none;
}


a.edit-profile-pic-button > div {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1.34;
  font-size: 12px;
  font-family: helvetica, arial, sans-serif;
  color: #fff;
  padding: 10px 12px 10px 35px;

  background-color: #000;
  opacity: 0;
  transition: opacity .13s ease-out;
}

a.edit-profile-pic-button > div:hover {
opacity: 0.8;
}
// --------------------Cover Photo-----------
.timeline-cover-photo {
  width: 100%;
  position: relative;
  height: 312px;
  background-color: transparent;
}
a.edit-profile-pic-button {
  width: 160px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

i.camera-icon {
  position: absolute;
  z-index: 3;

  background-image: url(image_path('fakebook_camera.png'));
  width: 26px;
  height: 21px;
  background-position: -26px -19px;
  bottom: 15px;
  left: 5px;
  opacity: 1;
  transform: none;
}

a.edit-cover-button {
  width: 160px;
  position: absolute;
  top: 5px;
  left: 5px;
}

a.edit-cover-button > div {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1.34;
  font-size: 12px;
  font-family: helvetica, arial, sans-serif;
  color: #fff;
  padding: 10px 12px 10px 35px;

  background-color: #000;
  opacity: 0;
  transition: opacity .13s ease-out;
}

a.edit-cover-button > div:hover {
opacity: 0.8;
}
// --------------------------------------------------
h6.friends-button-mutual-friends {
  display: inline;
  vertical-align: middle;
  color: #89919c;
  font-size: 11px;
  font-weight: normal;
}

.timeline-header-tabs > li.selected {
  color: #373e4d;
}
.timeline-header-tabs > li.selected > a:hover {
  cursor: default;
}

li.selected > span {
  display: block;
  height: 9px;
  bottom: -1px;
  margin-left: -8px;
  width: 17px;
}
/*-----------------FEED---------------*/
.timeline-post-index {
  width: 510px;
  display: inline-block;
  margin-left: 20px;
  /*blue*/
	/*background-color: #54FFFF;*/
}

/*--------------SIDEBAR----------------*/
.timeline-sidebar {
	width: 320px;
	float:left;
  /*green*/
	background-color: #AAFF54;
}
