.timeline-header {
  position: relative;
  float: left;
	margin: 0 auto;
  height: 357px;
  /*red*/
  background-color: #FF5454;
  width: 850px;
  border: 1px solid;
  border-color: #d3d6db;
  border-top: 0px;
  border-radius: 0 0 3px 3px;
}

.timeline-header-profile-picture {
  display: inline-block;
  width: 160px;
  height: 160px;
  padding: 5px;
  /*purple*/
  background-color: #AA54FF;
}

.timeline-header-name {
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  color: #fff;
}

.timeline-header-buttons {
  list-style: none;
  float: right;
}

.timeline-header-buttons > li {
  float: left;
}

.timeline-header-tabs-bar {
  position: absolute;
  height: 45px;
  width: 850px;
  background-color: #fff;
  bottom: 0;
}


.timeline-header-tabs {
  border-color: inherit;

  padding-left: 200px;
  list-style: none;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #3b5998;
  font-family: helvetica, arial, sans-serif;
}

.timeline-header-tabs > li{
  float: left;
}

.timeline-header-tabs > li:last-child > a {
  border-right: 1px solid #D8D8DB;
}

.timeline-header-tabs > li > a {
  padding: 15px;
  border-left: 1px solid #D8D8DB;
  border-top: 0px;
}

.timeline-header-tabs > li > a:hover {
  cursor: pointer;
}


h6.friends-button-mutual-friends {
  display: inline;
  vertical-align: middle;
  color: #89919c;
  font-size: 11px;
  font-weight: normal;
}

.timeline-header-tabs > li.selected {
  color: #373e4d;
}
.timeline-header-tabs > li.selected > a:hover {
  cursor: default;
}

li.selected > span {
  display: block;
  height: 9px;
  bottom: -1px;
  margin-left: -8px;
  width: 17px;
}
/*-----------------FEED---------------*/
.timeline-post-index {
  width: 410px;
  display: inline-block;
  /*blue*/
	background-color: #54FFFF;
}

/*--------------SIDEBAR----------------*/
.timeline-sidebar {
	width: 320px;
	float:left;
  /*green*/
	background-color: #AAFF54;
}
